<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</head>

<body>

    <%- include("header") -%>

        <div style="padding: 20px">

            <h1>Liste des contacts</h1>

            <div class="row">

                <% users.forEach((user) => {  %>

                    <div class="col-sm-6" style="margin: 10px">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <%= user.login %>
                                </h4>
                                <p class="card-text">
                                    <%= user.nom %>
                                        <%= user.prenom %>
                                </p>
                                <a href="#" class="btn btn-primary">Détails</a>
                                <a href="/supprimerContact/<%= user.id %>" class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>

                    <% }) %>
            </div>

            <a href="/ajouterContact">
                <button type="button" class="btn btn-primary btn-lg btn-block">Ajouter un contact</button>
            </a>

        </div>

</body>

</html>