<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</head>

<body>

    <%- include("header") -%>

        <div style="padding: 20px">

            <h1>Liste des contacts</h1>
            <ul>
                <% users.forEach((user) => {  %>

                    <li>
                        <%= user.login %>
                            <%= user.nom %>
                                <%= user.prenom %>
                                    <%= user.tel %>
                                        <%= user.image %>
                    </li>

                    <% }) %>
            </ul>

            <a href="/ajouterContact">
                <button type="button" class="btn btn-primary btn-lg btn-block" >Ajouter un contact</button>
            </a>
            
        </div>

</body>

</html>